<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Learners_Academy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.controllers.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login2</display-name>
    <servlet-name>Login2</servlet-name>
    <servlet-class>com.controllers.Login2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login2</servlet-name>
    <url-pattern>/Login2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListClasses</display-name>
    <servlet-name>ListClasses</servlet-name>
    <servlet-class>com.controllers.ListClasses</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListClasses</servlet-name>
    <url-pattern>/listclasses</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListStudents</display-name>
    <servlet-name>ListStudents</servlet-name>
    <servlet-class>com.controllers.ListStudents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListStudents</servlet-name>
    <url-pattern>/liststudents</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListTeachers</display-name>
    <servlet-name>ListTeachers</servlet-name>
    <servlet-class>com.controllers.ListTeachers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListTeachers</servlet-name>
    <url-pattern>/listteachers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListSubjects</display-name>
    <servlet-name>ListSubjects</servlet-name>
    <servlet-class>com.controllers.ListSubjects</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListSubjects</servlet-name>
    <url-pattern>/listsubjects</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dashboard</display-name>
    <servlet-name>Dashboard</servlet-name>
    <servlet-class>com.controllers.Dashboard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dashboard</servlet-name>
    <url-pattern>/dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.controllers.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
<servlet>
    <description></description>
    <display-name>Signup</display-name>
    <servlet-name>Signup</servlet-name>
    <servlet-class>com.controllers.Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
</web-app>